<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Sample App</title>

    <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">

</head>
<body class="main">
    <header>
        <div class="container">
            <h1 class="logo">First Web App</h1>
        </div>
    </header>

    <div class="main-body">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <p class="card-text">Choose a file to upload it to AWS S3</p>
                <input type="file" name="file" value="file">
                <hr>
        <input type="submit" name="upload" value="Upload" class="btn btn-success">
        </form>
        {{msg}}
    </div>

    <footer>
        <div class="footer">
            This is footer!
        </div>
    </footer>

</body>
</html>