packages:
  yum:
    git: []
    httpd: []

groups:
  upsgroup: []

users:
  upsuser:
    groups:
      - upsgroup
    uid: 50
    homeDir: /home/upsuser

sources:
  /opt/sampleweb: https://amzn-s3-demo-bucket.s3.amazonaws.com/myobject.zip

files:
  "/tmp/hello.txt":
    mode: "000644"
    owner: root
    group: root
    content: |
      this is my file content

commands:
  command1:
    command: "mkdir -p /home/newfile"




