option_settings:
  aws:elasticbeanstalk:environment:
    loadBalancerType: network
packages:
  yum:
    git: []

groups:
  upsgroup: []

users:
  upsuser:
    groups:
      - upsgroup
        homeDir: /home/upsuser

sources:
  /etc/sample-flask-app: https://github.com/awsdocs/elastic-beanstalk-samples/blob/3303795c4afb9e06b8fc9c941737a058896455ad/README.md

files:
  "/home/upsuser/hello.txt":
    mode: "000644"
    owner: upsuser
    group: upsgroup
    conttent: |
    this is my file conttent

commands:
  command1:
    command: "mkdir -p /var/app/logs"
  command2:
    command: "echo 'Hello I created this' > /var/app/logs/deploy.log"

services:
  sysvinit:
    upsservice:
      httpd:
        enabled: true
          ensureRunning: true

