packages:
  yum:
    git: []
    httpd: []

groups:
  upsgroup: []

users:
  upsuser:
    groups:
      - upsgroup
    uid: 50
    homeDir: /home/upsuser

files:
  "/tmp/hello.txt":
    mode: "000644"
    owner: root
    group: root
    content: |
      this is my file content

commands:
  command1:
    command: "mkdir -p /home/newfile"




